<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COUCHEBO.Properties.Settings.BibliothèqueConnectionString"
            connectionString="Data Source=SEB-PC;Initial Catalog=Bibliothèque;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>